{% load staticfiles %}
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Welcome</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    
    
    <body>
        <div class="container">
            <div class="row">
                <b>Welcome to the chat:</b>
            </div>    <br><br>
            
            <div class="row adding">
                    {% for msg in msgs %}
                        <p>
                            <b> {{ msg.author }} </b> says {{ msg.message }}
                        </p>
                    {% endfor %}   
            </div><br><br>
            
            <div class="row">
                <form method="POST">{% csrf_token %}
                    <input type="text" name="msg" placeholder="Your message" id="msgid" >
                    <input type="text" name="user" placeholder="Your nick" id="usrid">
                    <button type="submit" class="btn btn-default" id="sendid">send</button>
                </form>
            </div>
            
        </div>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static 'js/welcome.js' %}"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>

</html>
